<!DOCTYPE html>

<html>
    
    <head>   
        <!-- Head information -->
        <title>Rent Out</title>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link rel="stylesheet" href="../resources/css/style.css" type="text/css"/>
        
        <script src="../dist/jquery.min.js"></script>
        <link rel="stylesheet" href="../dist/bootstrap.min.css">
        <script src="../dist/bootstrap.min.js"></script>
        <script src="../dist/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="../dist/css/jquery.dataTables.css">
        
        <script type="module" src="RentOuttable.js"></script>
        <script type="module" src="../control/RentOutCtrl.js"></script>    
    </head>

    
    <body>
        
        <div > <!-- ska den ha class="cointainer" ? -->
        
            <!-- The navigation bar  -->
            <nav class="w3-bar w3-black">
                <a href="../index.html" class="w3-button w3-bar-item">Home</a>
                <a href="Rent.html" class="w3-button w3-bar-item">Rent</a>
                <a href="RentOut.html" class="w3-button w3-bar-item">Rent out</a>
                <a href="Contact/contact.html" class="w3-button w3-bar-item">Contact</a>
                <a href="Help/help.html" class="w3-button w3-bar-item">Help</a>
            </nav>

            <div class="header">
              <img src="../resources/img/A1.png" alt="logo" style="width:100%" />
              <h1>Rent out</h1>
            </div>

            <!-- TODO Måste kunna lägga till en ny annons på något sätt -->

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-1">
                                <span class="label label-info">Add a new ad</span>
                            </div>

                            <div class="col-md-1">
                                <input id="id" type="text" class="form-control" placeholder="Id">
                            </div>

                            <div class="col-md-2">
                                <input id="adress" type="text" class="form-control" placeholder="Address">
                            </div>

                            <div class="col-md-2">
                                <input id="description" type="text" class="form-control" placeholder="Description">
                            </div>

                            <div class="col-md-2">
                                <input id="name" type="text" class="form-control" placeholder="Name">
                            </div>

                            <div class="col-md-2">
                                <input id="phoneNr" type="textphoneNr" class="form-control" placeholder="Phone number">
                            </div>

                            <div class="col-md-2">
                                <input id="mail" type="text" class="form-control" placeholder="Mail">
                            </div>

                            <div class="col-md-2">
                                <input id="image" type="text" class="form-control" placeholder="Image URL">
                            </div>

                            <div class="col-md-1">
                                <button id="add" type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-12">
                    <!-- Here the datatable hooks in -->
                    <table id="rentOut" class="stripe" width="100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Address</th>
                                <th>Description</th>
                                <th>Name</th>
                                <th>Phone nr</th>
                                <th>Mail</th>
                                <th>Image</th>

                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Address</th>
                                <th>Description</th>
                                <th>Name</th>
                                <th>Phone nr</th>
                                <th>Mail</th>
                                <th>Image</th>

                            </tr>
                        </tfoot>
                        
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>

            <div class= "footer">
                <p> Apartments.com is developed by: 
                     Amanda Jonsson,  Emilia Vestlund and Therese Sturesson. </p>
                <p> Contact information: <a href="mailto:apatments@apartments.com">
                     apartments@apartments.com</a></p>
            </div>

            <div id="editDeleteModal" class="modal fade">
                
                <div class="modal-dialog">
                    
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Update or Delete the ad?</h4>
                        </div>
                        
                        <div class="modal-body">
                            
                            <form>
                                
                                <div class="form-group">
                                    <input id="rid" type="text" disabled="true" />
                                </div>
                                
                                <div class="form-group">
                                    <input id="radress" type="text" />
                                </div>
                                
                                <div class="form-group">
                                    <input id="rdescription" type="text" />
                                </div>
                                
                                <div class="form-group">
                                    <input id="rname" type="text" />
                                </div>
                                
                                <div class="form-group">
                                    <input id="rphoneNr" type="text" />
                                </div>
                                
                                <div class="form-group">
                                    <input id="rmail" type="text" />
                                </div>
                                
                                <div class="form-group">
                                    <input id="rimage" type="text" />
                                </div>
                                
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button id="update" type="button" class="btn btn-primary">Update</button>
                                <button id="delete" type="button" class="btn btn-danger">Delete</button>
                                
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
    
</html>