.header img {
  width: 1100px;
  height: 350px;
  margin: auto;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.footer { 
    display: block;
   
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.footer p{
    size: 4px;
    color: white;
    margin-bottom: 1em;
   font-family: "Times New Roman", Times, serif;

}



/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 100px;
    background-color: #543;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

